/*Universal Styles*/

:root {
    --portfoliocolor1: #045174;
    --portfoliocolor2: #E87A00;
    --background: #ffffff;
    --textcolor: #000000;
    overflow-x: hidden;
}

* {
    color: var(--textcolor);
    background-color: var(--background);
    font-family:Verdana, sans-serif;
  }

body {
    height: 100vh;
    width: 100vw;
    
}

h1 {
    color: var(--portfoliocolor1);
}

h2 {
    color: var(--portfoliocolor2);
}

a {
    color: var(--portfoliocolor1);
    text-decoration: none;
}

a:hover {
    color: var(--portfoliocolor2);
}

/*Header*/

header {
    padding-bottom: 45px;
    background-color: var(--portfoliocolor1);
}

#navbar {
    padding: 8px;
    width: 100vw;
    background-color: var(--portfoliocolor1);
    position: absolute;
}

header li {
    float: left;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    font-weight: bold;
    background-color: var(--portfoliocolor1);
    
}

#navbar a {
    text-decoration: none;
    color: var(--background);
    background-color: var(--portfoliocolor1);
    text-shadow: 2px 2px 4px var(--textcolor);
    
}

#navbar a:hover, .dropdown:hover .dropbtn {
    color: var(--portfoliocolor2);
}

/*Dropdown Button*/

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    color: var(--background);
    background-color: var(--portfoliocolor1);
    text-shadow: 2px 2px 4px var(--textcolor);
    font-size: 20px;
    font-weight: bold;
    border: none;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/*Home Page*/
/*Welcome Section*/

#welcome-section {
    display: flex;
    align-items: center;
    height: 90%;
}

#picture {
    flex: 1;
    width: 20vw;
    max-width: 350px;
    height: auto;
    max-height: 60vh;
    border: 4px solid var(--textcolor);
    border-radius: 10%;
    box-sizing: border-box;
    margin-left: 10%;
}

#welcome-content {
    flex: 1;
    margin-left: 10%;
    width: 10%;   
}

#welcome-content h1 {
   color: var(--portfoliocolor1);
   text-align: center;
}

#welcome-content h2 {
    color: var(--portfoliocolor2);
    text-align: center;
    text-shadow: 2px 2px 2px var(--textcolor);
}

#welcome-content p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.skills {
    text-align: center;
}

.skills li{
    display: inline;
    list-style-type: none;
    font-weight: bold;
    color: var(--portfoliocolor2);
}

/*Contact Subsection*/
#contact-section {
    margin-left: 10%;
    padding: 2px;
}

#linkedin-photo, #git-photo, #gmail-photo {
    width: 30px;
    height: 30px;
    padding: 1px;
    margin: 2px;
    border-radius: 10%;
    border: 1px solid var(--portfoliocolor1);
}

.resume-button {
    background-color: var(--portfoliocolor1);
    margin-left: 10%;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid var(--textcolor);
    font-weight: bold;
}

.resume-button a {
    background-color: var(--portfoliocolor1);
    color: var(--background);
}

/*About Page*/

#about-section {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
}

#about-section h1 {
    text-align: center;
}

#about-button {
    margin-left: 0;
}

/*Projects Page*/
/*Writing Projects*/
#coding-main, #writing-main {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
    text-align: center;
}

.flexcontainer {
    display: flex;
}

.book {
    width: 50%;
}

.book h3, .book p {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.book p {
    text-align: left;
}

.book-images {
    width: auto;
    height: 300px;
    border: 1px solid var(--textcolor);
}

#bplans, .articlediv {
    justify-content: space-between;
}

#bplans img, .articleimgs{
    width: auto;
    height: 300px;
    margin: 10px;
    border: 1px solid var(--textcolor);
}

.toptext {
    width: 60%;
    margin-left: 18%;
}

.other{
    list-style-type: none;
}
/*Coding Projects*/

#coding-main p {
    width: 60%;
    margin-left: 15vw;
}

.details {
    text-align: left;
}

#surveyimg {
    border: 2px solid var(--portfoliocolor1);
    width: auto;
    height: 300px;
    border-radius: 10%;
}

#gitdocimg {
    border: 2px solid var(--portfoliocolor1);
    width: auto;
    height: 300px;
    border-radius: 5%;
}

/*Screen Size Changes*/

@media only screen and (max-width: 1280px) {
    /*Universal Styles*/

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    #picture {
        width: 15vw;
        max-width: 300px;
        height: auto;
        max-height: 50vh;
    }

    /*header {
    padding-bottom: 45px;
    border-bottom: 4px solid var(--portfoliocolor1);
    background-color: var(--portfoliocolor1);
    margin-bottom: 5%;
}

#navbar {
    padding: 8px;
    width: 100%;
    background-color: var(--portfoliocolor1);
    position: absolute;
}

header li {
    float: left;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    font-weight: bold;
    background-color: var(--portfoliocolor1);
    
}

#navbar a {
    text-decoration: none;
    color: var(--background);
    background-color: var(--portfoliocolor1);
    text-shadow: 2px 2px 4px var(--textcolor);
    
}
*/
}

@media only screen and (max-width: 1024px) {
    /*Universal Styles*/


    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
     /*header {
    padding-bottom: 45px;
    border-bottom: 4px solid var(--portfoliocolor1);
    background-color: var(--portfoliocolor1);
    margin-bottom: 5%;
}

#navbar {
    padding: 8px;
    width: 100%;
    background-color: var(--portfoliocolor1);
    position: absolute;
}

header li {
    float: left;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    font-weight: bold;
    background-color: var(--portfoliocolor1);
    
}

#navbar a {
    text-decoration: none;
    color: var(--background);
    background-color: var(--portfoliocolor1);
    text-shadow: 2px 2px 4px var(--textcolor);
    
}
*/
}

@media only screen and (max-width: 768px) {
    /*Universal Styles*/


    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 10px;
    }
     /*header {
    padding-bottom: 45px;
    border-bottom: 4px solid var(--portfoliocolor1);
    background-color: var(--portfoliocolor1);
    margin-bottom: 5%;
}

#navbar {
    padding: 8px;
    width: 100%;
    background-color: var(--portfoliocolor1);
    position: absolute;
}

header li {
    float: left;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    font-weight: bold;
    background-color: var(--portfoliocolor1);
    
}

#navbar a {
    text-decoration: none;
    color: var(--background);
    background-color: var(--portfoliocolor1);
    text-shadow: 2px 2px 4px var(--textcolor);
    
}
*/
}

@media only screen and (max-width: 640px) {
    /*Universal Styles*/

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }

    /*header and navigation bar*/

header li {
    font-size: 16px;
    padding: 5px;
}

/*Welcome Section*/

#welcome-content {
    margin-left: 8%;
    width: 10%;   
    margin-top: 100px;
    text-align: center;
}

#welcome-content p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.skills {
    text-align: center;
}

.skills li{
    display: inline;
    list-style-type: none;
    font-weight: bold;
    color: var(--portfoliocolor2);
}


}