/*Universal Styles*/

:root {
    --portfoliocolor1: #189ab4;
    --portfoliocolor2: #75e6da;
    --background: #000000;
    --textcolor: #ffffff;
    overflow-x: hidden;
}

* {
    color: var(--textcolor);
    background-color: var(--background);
    font-family:Verdana, sans-serif;
  }

body {
    height: 98vh;
    
}

h1 {
    color: var(--portfoliocolor1);
}

h2 {
    color: var(--portfoliocolor2);
}

a {
    color: var(--portfoliocolor1);
    text-decoration: none;
}

a:hover {
    color: var(--portfoliocolor2);
}

/*Header*/

header {
    padding-bottom: 45px;
    border-bottom: 2px solid var(--portfoliocolor1);
}

#navbar {
    padding: 8px;
    width: 100%;
}

header li {
    float: left;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
}

#navbar a {
    text-decoration: none;
    color: var(--portfoliocolor1);
}

#navbar a:hover {
    color: var(--portfoliocolor2);
}


/*Home Page*/
/*Welcome Section*/

#welcome-section {
    display: flex;
    align-items: center;
    height: 90%;
}

#picture {
    flex: 1;
    width: 20vw;
    max-width: 350px;
    height: auto;
    max-height: 60vh;
    border-color: var(--portfoliocolor1);
    border-style: double;
    border-width: 5px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 10%;
}

#welcome-content {
    flex: 1;
    margin-left: 10%;
    width: 10%;    
}

#welcome-content h1 {
   color: var(--portfoliocolor1);
   text-align: center;
}

#welcome-content h2 {
    color: var(--portfoliocolor2);
    text-align: center;
}

#welcome-content p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/*Contact Subsection*/
#contact-section {
    margin-left: 10%;
    padding: 2px;
}

#contact-section img {
    padding: 1px;
    margin: 2px;
    border: 1px solid var(--portfoliocolor1);
}

#linkedin-photo, #git-photo, #gmail-photo {
    width: 25px;
    height: 25px;
}

/*About Page*/




/*Projects Page*/
/*Writing Projects*/

.writing-images img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}


/*Screen Size Changes

@media screen only and (max-width: 400px) {
    /*Home Page
}

*/